<div id="profile"></div>

<div class="well bs-component">
    <form class="form-horizontal">
        <fieldset>
            <legend>Legend</legend>

            <div class="form-group">
                <label class="control-label" for="post-title">Title</label>
                <input type="text" class="form-control" id="post-title">
            </div>
            <div class="form-group">
                <label class="control-label" for="post-data">Post data</label>
                <textarea class="form-control" rows="5" id="post-data"></textarea>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </fieldset>
    </form>
</div>