<div class="col-sm-6 col-sm-offset-3">
    <div class="well" id="login">
        <fieldset>
            <legend>Register</legend>
            <div class="form-group">
                <label class="control-label" for="username">Username</label>
                <input type="text" class="form-control" id="username">
            </div>
            <div class="form-group">
                <label class="control-label" for="name">Name</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label class="control-label" for="email">Email</label>
                <input type="text" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label class="control-label" for="pass">Password</label>
                <input type="password" class="form-control" id="pass">
            </div>
            <div class="form-group">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" id="registerSubmit">Submit</button>
                </div>
            </div>
        </fieldset>
    </div>
</div>